* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #ffe1ec;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar li {
  padding: 0;
  margin: 8px 0;
}

.sidebar li a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar li a:hover {
  background-color: #fbcddb;
  color: #000;
}

.logout-form {
  padding: 0 20px 20px 20px;
  border-top: 1px solid #f3b6b6;
  background-color: #ffe1ec;
}

.logout-button {
  width: 100%;
  background-color: transparent;
  color: #007bff;
  border: none;
  padding: 12px 20px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.logout-button:hover {
  color: #0056b3;
}

main {
  position: absolute;
  left: 220px;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
  background-color: #ffffff;
  overflow-y: auto;
  font-size: 1.1em;
}

.board {
  display: flex;
  flex-direction: row;
}

.Projectboard, .Skillboard {
  width: 35%;
  height: 200px;
  border: solid 1px #ffdeeb;
  border-radius: 12px;
  background-color: #fcedf5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.Projectboard h2, .Skillboard h2 {
  font-size: 1.8em;
  color: #d4648d;
  margin-bottom: 10px;
}

.Projectboard .pb, .Skillboard .sb {
  font-size: 2.2em;
  color: #d4648d;
  font-weight: 300em;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fbd1d1;
  color: #333;
  padding: 14px 20px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
}

.grid-item {
  padding: 20px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.grid-item:last-child {
  border-right: none;
}

.grid-container > .grid-item:nth-child(4n) {
  border-right: none;
}

.grid-container > .grid-item:nth-child(-n+4) {
  border-top: none;
}

.grid-item a {
  color: #d4648d;
  text-decoration: none;
  font-weight: bold;
}

.grid-item a:hover {
  text-decoration: underline;
  color: #c3577d;
}
