body {
    font-family: Arial, sans-serif;
    background-color: #ffdede;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.contact-box h2 {
    font-size: 28px;
    color: #d4648d;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 20px;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fffafc;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #f797b5;
    box-shadow: 0 0 5px #f797b5;
}

.next-button {
    background-color: #d4648d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #c3577d;
}
