* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh; 
  background-color: #ffe1ec; 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;  
  color: #333;
  font-weight: bold;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar li i {
  margin-right: 15px; 
  font-size: 18px;
}

.sidebar li:hover {
  background-color: #fbcddb;
  cursor: pointer;
}

.home {
  padding: 20px;
  font-size: 1.8em;
  color: #000000; 
  font-weight: 600;
  text-align: center;
}


main {
  position: absolute;
  left: 220px; 
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
  background-color: #ffffff;
  overflow-y: auto;
  font-size: 1.1em;
}

